*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.inp {
    padding: 6px 12px;
    border: 1.5px solid white;
    width: auto;
    height: auto;
    background: #FDBE33;
}
.btn{
    padding:16px 30px ;
    font-size: 20px;
    color: #FDBE33;
    border: 0px;
    background-color: #030F27;
}